<!DOCTYPE html>
<html>
<head>
	<title>TICS</title>
</head>
<body>
	<h1>Profesores de catedra: Ivan Diaz, Angel Jimenez</h1>
	<h2>Profesores auxiliares: Javiera Ovalle, Jorge Pinto, Jose Canto, Macarena Osorio</h2>
	<h3>Ayudantes: Carlos Vega, Catalina Martin, Eduardo Valerio, Juan Gutierrez, Matias Rojas, Nicolas Villa, Sebastian Donoso, Sofia Herrera, Victoria Arce</h3>
	<a href="{% url 'pestana' %}">Hola, soy un enlace a otra pestaña del proyecto</a>
	<a href="{%url 'index'%}">Hola, soy un enlace a index</a>

</body>
</html>